##` column description`
flight_date: The date of the flight in MM/DD/YYYY format.

airline: Name of the airline operating the flight (e.g., Air India, Indigo, Vistara).

flight_num: Unique flight number assigned by the airline (e.g., AI-473, G8-2403).

class: Travel class of the ticket (e.g., Economy, Business).

from: Departure city or airport (e.g., Delhi).

dep_time: Departure time in HH:MM format.

to: Destination city or airport (e.g., Mumbai).

arr_time: Arrival time in HH:MM format.

duration: Total flight duration in hours and minutes (e.g., 2h 30m).

price: Ticket price in local currency (e.g., 7,581).

stops: Number of stops (e.g., Non-stop, 1-stop, 2-stop).

#`Order of Severity in Data Cleaning:`

1️⃣ Completeness (Highest Severity)

2️⃣ Validity

3️⃣ Accuracy

4️⃣ Consistency (Lowest Severity)

Explanation:
Completeness → `Missing data can make analysis impossible or misleading. If key values are missing, the dataset becomes unreliable.`

Validity → `Data should conform to predefined formats, types, and rules. Invalid data (e.g., negative ticket prices) can introduce serious errors.`

Accuracy → `Ensuring that the data reflects real-world values. Even if data is complete and valid, inaccurate data can still lead to incorrect conclusions.ex-Duplicated entry`

Consistency → `Uniform representation across the dataset (e.g., date formats, naming conventions). While important, inconsistent data can often be corrected without catastrophic impact.`

In [297]:
import pandas as pd
pd.set_option('display.max_columns',None)

In [251]:
df=pd.read_csv('/content/goibibo_flights_data.csv')
df.head()

,flight date,airline,flight_num,class,from,dep_time,to,arr_time,duration,price,stops,Unnamed: 11,Unnamed: 12
0,26-06-2023,SpiceJet,SG-8709,economy,Delhi,18:55,Mumbai,21:05,02h 10m,"6,013",non-stop,NaN,NaN
1,26-06-2023,SpiceJet,SG-8157,economy,Delhi,06:20,Mumbai,08:40,02h 20m,"6,013",non-stop,NaN,NaN
2,26-06-2023,AirAsia,I5-764,economy,Delhi,04:25,Mumbai,06:35,02h 10m,"6,016",non-stop,NaN,NaN
3,26-06-2023,Vistara,UK-995,economy,Delhi,10:20,Mumbai,12:35,02h 15m,"6,015",non-stop,NaN,NaN
4,26-06-2023,Vistara,UK-963,economy,Delhi,08:50,Mumbai,11:10,02h 20m,"6,015",non-stop,NaN,NaN

In [252]:
df.head()

,flight date,airline,flight_num,class,from,dep_time,to,arr_time,duration,price,stops,Unnamed: 11,Unnamed: 12
0,26-06-2023,SpiceJet,SG-8709,economy,Delhi,18:55,Mumbai,21:05,02h 10m,"6,013",non-stop,NaN,NaN
1,26-06-2023,SpiceJet,SG-8157,economy,Delhi,06:20,Mumbai,08:40,02h 20m,"6,013",non-stop,NaN,NaN
2,26-06-2023,AirAsia,I5-764,economy,Delhi,04:25,Mumbai,06:35,02h 10m,"6,016",non-stop,NaN,NaN
3,26-06-2023,Vistara,UK-995,economy,Delhi,10:20,Mumbai,12:35,02h 15m,"6,015",non-stop,NaN,NaN
4,26-06-2023,Vistara,UK-963,economy,Delhi,08:50,Mumbai,11:10,02h 20m,"6,015",non-stop,NaN,NaN

In [253]:
df=df.drop(columns=['Unnamed: 11','Unnamed: 12'])

In [254]:
df.rename(columns={'flight date':'flight_date'},inplace=True)
df.rename(columns={'flight_num':'flight_id'},inplace=True)
df.rename(columns={'from':'departure_city'},inplace=True)
df.rename(columns={'dep_time':'departure_time'},inplace=True)
df.rename(columns={'to':'arrival_city'},inplace=True)
df.rename(columns={'arr_time':'arrival_time'},inplace=True)

In [255]:
df.shape

(300261, 11)

In [256]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300261 entries, 0 to 300260
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   flight_date     300261 non-null  object
 1   airline         300261 non-null  object
 2   flight_id       300261 non-null  object
 3   class           300261 non-null  object
 4   departure_city  300261 non-null  object
 5   departure_time  300261 non-null  object
 6   arrival_city    300261 non-null  object
 7   arrival_time    300261 non-null  object
 8   duration        300261 non-null  object
 9   price           300261 non-null  object
 10  stops           300261 non-null  object
dtypes: object(11)
memory usage: 25.2+ MB

In [257]:
df.isna().sum()

flight_date       0
airline           0
flight_id         0
class             0
departure_city    0
departure_time    0
arrival_city      0
arrival_time      0
duration          0
price             0
stops             0
dtype: int64

In [258]:
df.duplicated().sum()

np.int64(2)

In [259]:
df[df.duplicated(keep=False)]

,flight_date,airline,flight_id,class,departure_city,departure_time,arrival_city,arrival_time,duration,price,stops
516,29-06-2023,Air India,AI-807,economy,Delhi,17:20,Mumbai,08:35,15h 15m,"12,272",1-stop
563,29-06-2023,Air India,AI-807,economy,Delhi,17:20,Mumbai,08:35,15h 15m,"12,272",1-stop
6080,26-07-2023,Air India,AI-475,economy,Delhi,13:00,Mumbai,13:35,24h 35m,"4,828",1-stop
6181,26-07-2023,Air India,AI-475,economy,Delhi,13:00,Mumbai,13:35,24h 35m,"4,828",1-stop

In [260]:
df.drop_duplicates(keep='first',inplace=True)

In [261]:
df.shape

(300259, 11)

In [262]:
df['flight_date']=pd.to_datetime(df['flight_date'],dayfirst=True)

In [263]:
df.sample(20)

,flight_date,airline,flight_id,class,departure_city,departure_time,arrival_city,arrival_time,duration,price,stops
284932,2023-08-03,Vistara,UK-860,business,Hyderabad,06:50,Kolkata,18:05,11h 15m,"52,596",1-stop
166206,2023-07-03,Air India,AI-9885,economy,Hyderabad,10:45,Bangalore,08:55,22h 10m,"13,580",2+-stop
93515,2023-08-11,GO FIRST,G8-385,economy,Bangalore,05:45,Delhi,14:20,08h 35m,"4,068",1-stop
117050,2023-07-14,Air India,AI-610,economy,Bangalore,19:10,Chennai,16:15,21h 05m,"6,652",1-stop
29950,2023-07-06,Air India,AI-423,economy,Delhi,04:50,Hyderabad,21:15,16h 25m,"23,619",1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia STV\n\t\t\...
161439,2023-07-17,GO FIRST,G8-424,economy,Hyderabad,06:30,Mumbai,17:35,11h 05m,"4,207",1-stop
87789,2023-07-15,Air India,AI-804,economy,Bangalore,06:10,Delhi,08:55,02h 45m,"4,536",non-stop
6442,2023-07-28,Indigo,6E-2373,economy,Delhi,13:50,Mumbai,19:50,06h 00m,"2,434",1-stop
78903,2023-07-08,Vistara,UK-950,economy,Mumbai,21:55,Chennai,20:15,22h 20m,"11,240",1-stop
126578,2023-08-08,AirAsia,I5-2473,economy,Kolkata,09:40,Delhi,22:15,12h 35m,"3,044",1-stop
254748,2023-07-24,Air India,AI-503,business,Bangalore,17:50,Kolkata,09:00,15h 10m,"61,416",1-stop
192380,2023-08-01,Air India,AI-539,economy,Chennai,17:00,Mumbai,21:15,28h 15m,"5,991",1-stop
121373,2023-07-08,Indigo,6E-6965,economy,Kolkata,15:40,Delhi,22:35,06h 55m,"11,486",1-stop
245932,2023-07-09,Vistara,UK-852,business,Bangalore,09:30,Delhi,16:55,07h 25m,"63,735",1-stop
43917,2023-07-02,GO FIRST,G8-511,economy,Mumbai,05:00,Delhi,16:55,11h 55m,"6,001",1-stop
274638,2023-08-08,Air India,AI-768,business,Kolkata,15:30,Chennai,08:55,17h 25m,"56,823",1-stop
99314,2023-07-26,AirAsia,I5-996,economy,Bangalore,19:25,Mumbai,06:35,11h 10m,"2,225",1-stop
34349,2023-08-07,Air India,AI-560,economy,Delhi,08:10,Hyderabad,10:30,02h 20m,"2,119",non-stop
71399,2023-07-05,Air India,AI-806,economy,Mumbai,08:00,Hyderabad,23:35,15h 35m,"8,126",1-stop
10820,2023-07-01,Air India,AI-542,economy,Delhi,09:45,Bangalore,22:15,12h 30m,"9,938",1-stop

In [264]:
df.insert(0, 'year', df['flight_date'].dt.year)  # Insert 'year' at position 0
df.insert(1, 'month', df['flight_date'].dt.month)  # Insert 'month' at position 1
df.insert(2, 'day', df['flight_date'].dt.day)  # Insert 'day' at position 2

In [265]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300259 entries, 0 to 300260
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            300259 non-null  int32
 1   month           300259 non-null  int32
 2   day             300259 non-null  int32
 3   flight_date     300259 non-null  datetime64[ns]
 4   airline         300259 non-null  object
 5   flight_id       300259 non-null  object
 6   class           300259 non-null  object
 7   departure_city  300259 non-null  object
 8   departure_time  300259 non-null  object
 9   arrival_city    300259 non-null  object
 10  arrival_time    300259 non-null  object
 11  duration        300259 non-null  object
 12  price           300259 non-null  object
 13  stops           300259 non-null  object
dtypes: datetime64[ns](1), int32(3), object(10)
memory usage: 30.9+ MB

In [266]:
df['stops'].value_counts()

stops
1-stop                                                                          243601
non-stop                                                                         36044
2+-stop                                                                          13288
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXU\n\t\t\t\t\t\t\t\t\t\t\t\t                 1839
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IDR\n\t\t\t\t\t\t\t\t\t\t\t\t                 1398
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Patna\n\t\t\t\t\t\t\t\t\t\t\t\t                674
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Indore\n\t\t\t\t\t\t\t\t\t\t\t\t               381
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia PAT\n\t\t\t\t\t\t\t\t\t\t\t\t                  354
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia MYQ\n\t\t\t\t\t\t\t\t\t\t\t\t                  321
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Bhubaneswar\n\t\t\t\t\t\t\t\t\t\t\t\t          301
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia KLH\n\t\t\t\t\t\t\t\t\t\t\t\t                  284
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia JGB\n\t\t\t\t\t\t\t\t\t\t\t\t                  193
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia JRG\n\t\t\t\t\t\t\t\t\t\t\t\t                  175
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia STV\n\t\t\t\t\t\t\t\t\t\t\t\t                  169
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia BBI\n\t\t\t\t\t\t\t\t\t\t\t\t                  158
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Delhi\n\t\t\t\t\t\t\t\t\t\t\t\t                153
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Hyderabad\n\t\t\t\t\t\t\t\t\t\t\t\t            143
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXE\n\t\t\t\t\t\t\t\t\t\t\t\t                  120
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Ranchi\n\t\t\t\t\t\t\t\t\t\t\t\t               114
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Raipur\n\t\t\t\t\t\t\t\t\t\t\t\t               102
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Chennai\n\t\t\t\t\t\t\t\t\t\t\t\t               77
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Guwahati\n\t\t\t\t\t\t\t\t\t\t\t\t              55
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mysore\n\t\t\t\t\t\t\t\t\t\t\t\t                45
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mangalore\n\t\t\t\t\t\t\t\t\t\t\t\t             39
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mumbai\n\t\t\t\t\t\t\t\t\t\t\t\t                31
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Kolkata\n\t\t\t\t\t\t\t\t\t\t\t\t               28
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia VTZ\n\t\t\t\t\t\t\t\t\t\t\t\t                   27
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Nagpur\n\t\t\t\t\t\t\t\t\t\t\t\t                25
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia NDC\n\t\t\t\t\t\t\t\t\t\t\t\t                   22
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia RPR\n\t\t\t\t\t\t\t\t\t\t\t\t                   22
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia GOP\n\t\t\t\t\t\t\t\t\t\t\t\t                   16
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Surat\n\t\t\t\t\t\t\t\t\t\t\t\t                 14
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Lucknow\n\t\t\t\t\t\t\t\t\t\t\t\t               13
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia NAG\n\t\t\t\t\t\t\t\t\t\t\t\t                    9
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Vishakhapatnam\n\t\t\t\t\t\t\t\t\t\t\t\t         8
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Kolhapur\n\t\t\t\t\t\t\t\t\t\t\t\t               5
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXR\n\t\t\t\t\t\t\t\t\t\t\t\t                    4
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia GAY\n\t\t\t\t\t\t\t\t\t\t\t\t                    3
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia GAU\n\t\t\t\t\t\t\t\t\t\t\t\t                    3
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia HYD\n\t\t\t\t\t\t\t\t\t\t\t\t                    1
Name: count, dtype: int64

In [267]:
df['stops'].unique()

array(['non-stop', '1-stop',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXU\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Chennai\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Indore\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia RPR\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '2+-stop',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Lucknow\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia GOP\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Raipur\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Nagpur\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Surat\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Hyderabad\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia STV\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IDR\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia VTZ\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Guwahati\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia NAG\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Vishakhapatnam\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia NDC\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXE\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Patna\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia PAT\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mangalore\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mumbai\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia KLH\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia MYQ\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Kolkata\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Delhi\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Kolhapur\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia JRG\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Bhubaneswar\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Ranchi\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXR\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia JGB\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia BBI\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mysore\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia GAY\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia GAU\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia HYD\n\t\t\t\t\t\t\t\t\t\t\t\t'],
      dtype=object)

In [268]:
df['Stops']=df['stops'].str.split(' ').str.get(0).str.split('\n').str.get(0)
df.sample(10)

,year,month,day,flight_date,airline,flight_id,class,departure_city,departure_time,arrival_city,arrival_time,duration,price,stops,Stops
74468,2023,7,25,2023-07-25,Vistara,UK-930,economy,Mumbai,07:30,Hyderabad,17:00,09h 30m,"5,150",1-stop,1-stop
9612,2023,8,12,2023-08-12,AirAsia,I5-740,economy,Delhi,08:00,Mumbai,20:35,12h 35m,"2,433",1-stop,1-stop
275856,2023,7,16,2023-07-16,Air India,AI-515,business,Hyderabad,09:35,Delhi,20:35,11h 00m,"45,252",1-stop,1-stop
298692,2023,7,10,2023-07-10,Air India,AI-430,business,Chennai,09:55,Hyderabad,21:35,11h 40m,"67,724",1-stop,1-stop
108683,2023,8,7,2023-08-07,SpiceJet,SG-401,economy,Bangalore,05:55,Kolkata,08:30,02h 35m,"3,427",non-stop,non-stop
107635,2023,7,31,2023-07-31,Indigo,6E-975,economy,Bangalore,21:25,Kolkata,23:45,02h 20m,"3,427",non-stop,non-stop
215926,2023,8,13,2023-08-13,Vistara,UK-981,business,Delhi,21:40,Bangalore,07:50,10h 10m,"55,599",1-stop,1-stop
165685,2023,6,27,2023-06-27,Vistara,UK-870,economy,Hyderabad,20:35,Bangalore,18:50,22h 15m,"22,526",1-stop,1-stop
16551,2023,7,28,2023-07-28,Vistara,UK-995,economy,Delhi,10:20,Bangalore,19:15,08h 55m,"4,541",1-stop,1-stop
73131,2023,7,16,2023-07-16,Vistara,UK-613,economy,Mumbai,12:15,Hyderabad,19:55,07h 40m,"8,713",2+-stop,2+-stop

In [269]:
df['Stops'].value_counts()

Stops
1-stop      250927
non-stop     36044
2+-stop      13288
Name: count, dtype: int64

In [270]:
df['stops'].str.split(' ').str.get(1).str.split('\n').str.get(0).value_counts(dropna=False)

stops
NaN               292933
IXU                 1839
IDR                 1398
Patna                674
Indore               381
PAT                  354
MYQ                  321
Bhubaneswar          301
KLH                  284
JGB                  193
JRG                  175
STV                  169
BBI                  158
Delhi                153
Hyderabad            143
IXE                  120
Ranchi               114
Raipur               102
Chennai               77
Guwahati              55
Mysore                45
Mangalore             39
Mumbai                31
Kolkata               28
VTZ                   27
Nagpur                25
NDC                   22
RPR                   22
GOP                   16
Surat                 14
Lucknow               13
NAG                    9
Vishakhapatnam         8
Kolhapur               5
IXR                    4
GAY                    3
GAU                    3
HYD                    1
Name: count, dtype: int64

In [271]:
df.head()

,year,month,day,flight_date,airline,flight_id,class,departure_city,departure_time,arrival_city,arrival_time,duration,price,stops,Stops
0,2023,6,26,2023-06-26,SpiceJet,SG-8709,economy,Delhi,18:55,Mumbai,21:05,02h 10m,"6,013",non-stop,non-stop
1,2023,6,26,2023-06-26,SpiceJet,SG-8157,economy,Delhi,06:20,Mumbai,08:40,02h 20m,"6,013",non-stop,non-stop
2,2023,6,26,2023-06-26,AirAsia,I5-764,economy,Delhi,04:25,Mumbai,06:35,02h 10m,"6,016",non-stop,non-stop
3,2023,6,26,2023-06-26,Vistara,UK-995,economy,Delhi,10:20,Mumbai,12:35,02h 15m,"6,015",non-stop,non-stop
4,2023,6,26,2023-06-26,Vistara,UK-963,economy,Delhi,08:50,Mumbai,11:10,02h 20m,"6,015",non-stop,non-stop

#`AS flight_id have 1500+ unique category, so one hot encode it could be computationally very expensive, so we can avoid it`

In [272]:
len(df['flight_id'].unique())

1569

In [273]:
df['airline'].unique()

array(['SpiceJet', 'AirAsia', 'Vistara', 'GO FIRST', 'Indigo',
       'Air India', 'Trujet', 'StarAir'], dtype=object)

In [274]:
df['departure_city'].unique()

array(['Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai'],
      dtype=object)

In [275]:
df['arrival_city'].unique()

array(['Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai', 'Delhi'],
      dtype=object)

In [276]:
df[['hr_duration','min_duration']]=df['duration'].str.extract(r'(?:(\d+)h)?\s?(?:(\d+)m)?').fillna(0).astype(int)
df.head()

,year,month,day,flight_date,airline,flight_id,class,departure_city,departure_time,arrival_city,arrival_time,duration,price,stops,Stops,hr_duration,min_duration
0,2023,6,26,2023-06-26,SpiceJet,SG-8709,economy,Delhi,18:55,Mumbai,21:05,02h 10m,"6,013",non-stop,non-stop,2,10
1,2023,6,26,2023-06-26,SpiceJet,SG-8157,economy,Delhi,06:20,Mumbai,08:40,02h 20m,"6,013",non-stop,non-stop,2,20
2,2023,6,26,2023-06-26,AirAsia,I5-764,economy,Delhi,04:25,Mumbai,06:35,02h 10m,"6,016",non-stop,non-stop,2,10
3,2023,6,26,2023-06-26,Vistara,UK-995,economy,Delhi,10:20,Mumbai,12:35,02h 15m,"6,015",non-stop,non-stop,2,15
4,2023,6,26,2023-06-26,Vistara,UK-963,economy,Delhi,08:50,Mumbai,11:10,02h 20m,"6,015",non-stop,non-stop,2,20

In [277]:
df['duration']=df['hr_duration']*60+df['min_duration']

In [278]:
df.head()

,year,month,day,flight_date,airline,flight_id,class,departure_city,departure_time,arrival_city,arrival_time,duration,price,stops,Stops,hr_duration,min_duration
0,2023,6,26,2023-06-26,SpiceJet,SG-8709,economy,Delhi,18:55,Mumbai,21:05,130,"6,013",non-stop,non-stop,2,10
1,2023,6,26,2023-06-26,SpiceJet,SG-8157,economy,Delhi,06:20,Mumbai,08:40,140,"6,013",non-stop,non-stop,2,20
2,2023,6,26,2023-06-26,AirAsia,I5-764,economy,Delhi,04:25,Mumbai,06:35,130,"6,016",non-stop,non-stop,2,10
3,2023,6,26,2023-06-26,Vistara,UK-995,economy,Delhi,10:20,Mumbai,12:35,135,"6,015",non-stop,non-stop,2,15
4,2023,6,26,2023-06-26,Vistara,UK-963,economy,Delhi,08:50,Mumbai,11:10,140,"6,015",non-stop,non-stop,2,20

In [279]:
df['duration'].dtype

dtype('int64')

In [280]:
df['arrival_time']=df['arrival_time'].str.split(':').apply(lambda x:int(x[0])*60+int(x[1]))

In [281]:
df['departure_time']=df['departure_time'].str.split(':').apply(lambda x:int(x[0])*60+int(x[1]))

In [282]:
df.head()

,year,month,day,flight_date,airline,flight_id,class,departure_city,departure_time,arrival_city,arrival_time,duration,price,stops,Stops,hr_duration,min_duration
0,2023,6,26,2023-06-26,SpiceJet,SG-8709,economy,Delhi,1135,Mumbai,1265,130,"6,013",non-stop,non-stop,2,10
1,2023,6,26,2023-06-26,SpiceJet,SG-8157,economy,Delhi,380,Mumbai,520,140,"6,013",non-stop,non-stop,2,20
2,2023,6,26,2023-06-26,AirAsia,I5-764,economy,Delhi,265,Mumbai,395,130,"6,016",non-stop,non-stop,2,10
3,2023,6,26,2023-06-26,Vistara,UK-995,economy,Delhi,620,Mumbai,755,135,"6,015",non-stop,non-stop,2,15
4,2023,6,26,2023-06-26,Vistara,UK-963,economy,Delhi,530,Mumbai,670,140,"6,015",non-stop,non-stop,2,20

In [283]:
df['price']=df['price'].str.replace(',','').str.strip().astype(int)

In [284]:
df.head()

,year,month,day,flight_date,airline,flight_id,class,departure_city,departure_time,arrival_city,arrival_time,duration,price,stops,Stops,hr_duration,min_duration
0,2023,6,26,2023-06-26,SpiceJet,SG-8709,economy,Delhi,1135,Mumbai,1265,130,6013,non-stop,non-stop,2,10
1,2023,6,26,2023-06-26,SpiceJet,SG-8157,economy,Delhi,380,Mumbai,520,140,6013,non-stop,non-stop,2,20
2,2023,6,26,2023-06-26,AirAsia,I5-764,economy,Delhi,265,Mumbai,395,130,6016,non-stop,non-stop,2,10
3,2023,6,26,2023-06-26,Vistara,UK-995,economy,Delhi,620,Mumbai,755,135,6015,non-stop,non-stop,2,15
4,2023,6,26,2023-06-26,Vistara,UK-963,economy,Delhi,530,Mumbai,670,140,6015,non-stop,non-stop,2,20

In [285]:
df=df.drop(columns=['flight_date','flight_id','hr_duration','min_duration','stops'])
df.sample(10)

,year,month,day,airline,class,departure_city,departure_time,arrival_city,arrival_time,duration,price,Stops
205892,2023,8,3,Vistara,economy,Chennai,415,Hyderabad,1020,605,4445,1-stop
241914,2023,7,2,Air India,business,Mumbai,320,Chennai,440,120,23836,non-stop
42883,2023,8,13,AirAsia,economy,Delhi,480,Chennai,1045,565,2018,1-stop
62919,2023,7,5,Indigo,economy,Mumbai,1155,Kolkata,10,295,10987,1-stop
107203,2023,7,28,AirAsia,economy,Bangalore,25,Kolkata,430,405,3427,1-stop
43118,2023,6,27,Vistara,economy,Mumbai,1110,Delhi,1240,130,6002,non-stop
190678,2023,7,20,Vistara,economy,Chennai,1265,Mumbai,900,1075,4683,1-stop
72286,2023,7,11,GO FIRST,economy,Mumbai,735,Hyderabad,1310,575,3955,1-stop
43753,2023,7,1,Indigo,economy,Mumbai,605,Delhi,735,130,6215,non-stop
233524,2023,8,5,Vistara,business,Mumbai,1260,Bangalore,1370,110,20994,non-stop

In [286]:
df['Stops'].unique()

array(['non-stop', '1-stop', '2+-stop'], dtype=object)

In [291]:
df['Stops']=df['Stops'].map({'non-stop':0,'1-stop':1, '2+-stop':2})

In [293]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300259 entries, 0 to 300260
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   flight_year     300259 non-null  int32
 1   flight_month    300259 non-null  int32
 2   flight_day      300259 non-null  int32
 3   airline         300259 non-null  object
 4   class           300259 non-null  object
 5   departure_city  300259 non-null  object
 6   departure_time  300259 non-null  int64
 7   arrival_city    300259 non-null  object
 8   arrival_time    300259 non-null  int64
 9   duration        300259 non-null  int64
 10  price           300259 non-null  int64
 11  Stops           300259 non-null  int64
dtypes: int32(3), int64(5), object(4)
memory usage: 26.3+ MB

In [288]:
df.rename(columns={'year':'flight_year'},inplace=True)
df.rename(columns={'month':'flight_month'},inplace=True)
df.rename(columns={'day':'flight_day'},inplace=True)

In [298]:
# df=pd.get_dummies(df,drop_first=True).astype(int)

In [300]:
# df.head()